body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    width: 375px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f5f5f5;
    margin: 0px;
}



header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f5871a;
    padding-bottom: 1em;
    padding-top: .5em;
}


header img:first-child {
    height: 15vh;
    margin: 2em 2em 0em -7em;

}



/* main */
main {
    background-color: #ffc20a;
    padding-top: 2em;
    padding-bottom: 5em;
}

main>div:first-child {
    display: flex;
}

main ul {
    background-color: #f5871a;
    margin: 0em 0em 1em 1em;
    border-radius: 2em 0em 0em 2em;
    height: 17em;
    width: 20%
}

main li {
    list-style: none;
    margin: 1em 1em 2em -3em;
    font-size: 12pt;
    padding: 1.1em;
    background-color: #fcc737;
    border-radius: 10em 0em 0em 10em;
    color: white;
    font-weight: bold;
    transition: 1s;
    width: 5.5em;

}


main li a {
    color: white;
    text-decoration: none;
}

main li a:visited {
    color: white;
    text-decoration: none;
}


.home main article:first-child {
    padding: 1.5vh;
    color: white;
    background-color: #6495ed;
    border-radius: 0em 2em 2em 0em;

}

.home main div:last-child>img {
    height: 9em;
    margin-right: 0em;
    margin-top: 0.3em;
    margin-left: 1em;
}

.home main div:last-of-type {
    display: flex;
    justify-content: end;
    background-color: cornflowerblue;
    margin: 3em 0em 1em 2em;
    border-radius: 1.2em 0em 0em 2em;
    height: 16em;
    padding: 0em 1em 1em 1em;
}

footer {
    display: flex;
    background-color: #f5871a;
    color: white;
    padding-bottom: 2em;

}



footer article {
    margin: 5vh 1vh 4vh 2vh;
    width: 19em;
}

.current {
    background-color: #ba5802;
}

.home main img {
    margin: -50% 0% -15% 45%;
}

.historie main article:first-child {
    background-color: #6495ed;
    color: white;
    padding: 1em;
    text-align: left;
    border-radius: 2em;
    margin: 0em 0em 1em .5em;

}

.boot {
    background-color: #6495ed;
    color: white;
    padding: 1em;
    border-radius: 10em;
    text-align: center;
}

.fotos {
  display: flex;
  align-items: center; 
  justify-content: space-evenly; 
  flex: 0 0 auto; 
  height: auto; 
  margin: 1em 0em 1em 0em;
}

main img:nth-child(4) {
    margin: -2em 0em -2em 7.3em;
}
.doneer {
    display: flex;
    justify-self: center;
    width: 7em;
    color: white;
    padding: 0.3em;
    font-size: 20pt;
    margin: -8vh -26vh -3vh 0vh;
    font-weight: bold;

    
}

.bezoeken main img:first-child{
    display: flex;
    justify-self: center;
    border: solid;
    border-width: 2.4em;
    border-color: #f5871a;
}

.bezoeken main img:last-child {
    margin-bottom: -3em;
}

.bezoeken main div:first-child>article {
    background-color: #6495ed;
    color: white;
    text-align: center;
    border-radius: 0em 3em 3em 0em;
    margin-bottom:1em ;
    
}


.bezoeken main article:last-child {
    background-color: #6495ed;
    color: white;
    text-align: center;
    margin-bottom:1em ;
    padding: 1em;
    
}
